.root{
    -fx-background-color: rgb(0,0,64);
}

.label{
    -fx-text-fill: white;
}

.label-message{
    -fx-text-fill: red;
}

.glyph-icon{
    -fx-fill: white;
}

.button{
    -fx-text-fill: white;
}

.login-button{
    -fx-border-color: rgb(255,215,0);
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.login-button:hover{
    -fx-border-color: rgb(255,215,0);
    -fx-background-color: rgb(255,215,0);
    -fx-text-fill: rgb(0,0,64);
}

.text-field{
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -jfx-focus-color: rgb(255,215,0);
}

.about{

    -fx-background-color: rgb(209, 210, 210);
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-size: 12px;
}